<h2 id="title">Pikaday Issue #69</h2>
<p>This should display the selected value, but it always displays the day before the selected (assuming you are &lt;= -0100).</p>
{{pikaday-input value=date useUTC=true}}

{{outlet}}
